@{
    ViewData["Title"] = "Home Page";
}

<div>addasd</div>
@section Scripts{ 
    <script>
        $(function () {
            $.ajax({
                url: "Home/Test",
                method: "GET"
            }).done(function (data) {
                console.log("asdasd " + data);
            });
        });
    </script>
}
